<header id="index-header">
    <div class="row">
      <div class="small-12 large-12 columns text-center">
        <h1>BTC-Stores</h1> 
        <h3>The best way to find bitcoin stores worldwide.</h3>
      </div>
    </div>

    <div class="large-12 columns">
      <%= form_tag items_path, :method => "get" do %>
        <div class="row collapse">
          <div class="large-2 columns">&nbsp;</div>
          <div class="small-6 columns">
            <%= search_field_tag :search, params[:search], :id => "search_field", :placeholder => "Search stores by term, name or country..." %>
           <!--  <input type="text" placeholder="Search stores by term, name or country..." /> -->
          </div>
          <div class="small-2 columns">
            <%= submit_tag "Search", :class => "postfix button", :name => nil %>
            <!-- <a href="" class="postfix button">Search</a> -->
          </div>
          <div class="large-2 columns">&nbsp;</div>
        </div>
      <% end %>
    </div>

    <br/>
    
    <div class="row">
      <nav>
        <div id="featured" class="small-8 large-12 columns text-center">
          <p>
            <a href="<%= url_for categories_path + '/electronics' %>">Electronics</a>
            <a href="<%= url_for categories_path + '/music' %>">Music</a>
            <a href="<%= url_for categories_path + '/books-and-reading' %>">Books and Reading</a>
            <a href="<%= url_for categories_path + '/sports' %>">Sports</a>
            <a href="<%= url_for categories_path + '/health-personal-care' %>">Health & Personal Care</a>
            <a href="<%= url_for categories_path + '/toys' %>">Toys</a>
          </p>
          
          <p>
            <a href="<%= url_for categories_path + '/software-games' %>">Softwares & Games</a>
            <a href="<%= url_for categories_path + '/food' %>">Food</a>
            <a href="<%= url_for categories_path + '/miscellaneous' %>">Miscellaneous</a>
            <a href="<%= url_for categories_path + '/home-and-garden' %>">Home & Garden</a>
          </p>

        </div>
      </nav>
    </div>
    </div>
</header>



   <% if false %>
<div class="panel" id="cinza-home">
  <div class="row">
    <div class="large-12 columns large-centered text-center">
      <a href="<%= url_for new_item_path %>" data-reveal-id="myModal" data-reveal-ajax="true" class="button large secondary">Add a store to our website</a>
    </div>
  </div>
</div>

 
  <div class="panel" id="cinza">
  <div class="row">
    <h3>Recently added stores:</h3>
    <br/>
    <% @items.each do |store| %>
      <% if store.isActive == 1 %>
        <a href="<%= url_for store.url_shortned %>" target="_blank" rel="nofollow">
          <div class="store">
            
            <div class="store-above">
              <div class="store-left">
                <div class="store-name">
                  <h4><%= store.name %></h4>
                </div>
                <div class="description">
                  <%= store.description %>
                </div>
              </div>
            </div>
            <div class="store-bottom">
              <div class="left">#<%= store.category.name %></div>
              <div class="right">#<%= store.country.name %></div>
            </div>
          </div>
        </a>
        <br/><br />
      <% end %>
    <% end %>
  </div>
  </div>
  <br/><br/>
<% end %>






