<!-- Page title -->
<% title "General Search" %>

<!-- Meta tags -->
<% set_meta_tags :description => "Find stores with '#{@text_of_search}' that accept bitcoin as payment method. BTC-Stores - The first open-source Bitcoin directory of sites that accept Bitcoin.",
    :keywords => 'Bitcoin, Directory, Stores, payment, method, sites, accept, btc', 
    :author => ["Fernando Paladini", "Guilherme Passos"],
    :robots => 'noindex, follow',
    :og => {
      :title    => "Find stores with '#{@text_of_search}' that accept Bitcoin",
      :type     => 'website',
      :url      => request.original_url,
      :site_name => 'BTC-Stores'
    },
    :twitter => {
      :card => "summary",
      :title => "Find stores with '#{@text_of_search}' that accept Bitcoin",
      :description => "Find stores with '#{@text_of_search}' that accept bitcoin as payment method. BTC-Stores - The first open-source Bitcoin directory of sites that accept Bitcoin."
    }
  %>

<div class="panel" id="cinza">
  <div class="row collapse">
    
    <% if @searching %>
      
      <ul class="breadcrumbs">
        <li>
          <a href="<%= url_for root_path %>">Home</a>
        </li>
        <li class="current">
          <a href="#">Results for: " <%= params[:search] %> "</a>
        </li>
      </ul>
      <br/>

      <% if @items.size > 0 %>
        <div class="large-3 medium-3 columns">
          <div class="filter-by">
            
          </div>
        </div>  

        <div class="large-9 medium-9 columns">
          <% @items.each do |store| %>
            <% if store.isActive == 1 %>
              <a href="<%= url_for store.url_shortned %>" target="_blank" rel="nofollow">
                <div class="store">
                  <div class="store-name">
                    <h4><%= store.name %></h4>
                  </div>
                  <img src="http://usebitcoins.info/images/artimages/34/online2.jpg"/>
                  <div class="description">
                    <%= truncate(store.description, :length => 122) %>
                  </div>
                </div>
              </a>
            <% end %>
          <% end %>
        </div>
      <% else %>
        <div class="small-12 medium-12 large-12 columns text-center">
          <h4>Wow, seems that we don't have a Store here.</h4>
          <h4> Try to search <a href="<%= url_for categories_path %>">all stores</a> or help us improve the site and <a href="<%= url_for new_item_path %>">add a store</a>.</h4>
        </div>
      <% end %>

      <br/>
      <br />
      <br />
      
      <!-- Just show this section if the countries or categories array have more than zero results -->
      <% if @categories.size > 0 or @countries.size > 0 %>
        <h3>Maybe you're looking for:</h3>
        <br />
        
        <div class="row collapse centered">
       <div class="large-12 large-centered columns">
        <!-- Show categories that have terms of the search -->
        <% if @categories.size > 0 %>
          <div class="large-5 columns">
            <h5>Categories:</h5>
            <% @categories.each do |category| %>
              <a href="<%= url_for category %>">
                <div class="store">
                  <div class="store-above">
                    <div class="store-name"> 
                      <h4><%= category.name %> (<%= pluralize(category.item.size, 'store', 'stores')%>)</h4>
                      <!--  This category have  stores. -->
                    </div>
                  </div>
                </div>
              </a>
            <% end %>
          </div>
        <% end %>


        <!-- Show countries that have terms of the search -->
        <% if @countries.size > 0 %>
          <div class="large-5 columns">
            <h5>Countries:</h5>
            <% @countries.each do |country| %>
              <a href="">
                <div class="country">
                  <%= country.name %> (<%= pluralize(country.item.size, 'store', 'stores') %>)
                </div>
              </a>
            <% end %>
          </div>
        <% end %>
        </div>

        <!-- <div class="large-2 columns">&nbsp;</div> -->
        </div>
        
      <% end %>
    
    <!-- If user is not searching -->
    <% else %>


      <% if @items.size > 0 %>
        <h3>All stores:</h3>
        <br/>
        <% @items.each do |store| %>
          <% if store.isActive == 1 %>
            <a href="<%= url_for store.url_shortned %>" target="_blank" rel="nofollow">
              <div class="store">
                <div class="store-above">
                  <div class="store-left">
                    <div class="store-name">
                      <h4><%= store.name %></h4>
                    </div>
                    <div class="description">
                      <%= store.description %>
                    </div>
                  </div>
                </div>
                <div class="store-bottom">
                  <div class="left">#<%= store.category.name %></div>
                  <div class="right">#<%= store.country.name %></div>
                </div>
              </div>
            </a>
            <br/>
            <br/>
          <% end %>
        <% end %>
      <% else %>
        <h5>Wow, seems that we don't have a Store here.</h5>
        <h5> Help us improve the site and <a href="<%= url_for new_item_path %>">add a store</a>.</h5>
      <% end %>
    <% end %>
  </div>
</div>
