<div class="panel" id="cinza">
    <div class="row">
	  	<h4><a href="<%= url_for :controller => 'categories', :action => 'index' %>"><< All categories</a></h4><br>
	    <div class="large-8 medium-8 columns">
		    <h3><%= @category.name %></h3><br>
		    
		    <% if @category.item.size > 0 %>
			    <% @category.item.each do |store| %>
				    <% if store.isActive == 1 %>
					    <a href="<%= url_for store.url_shortned %>" 
					    target="_blank" rel="nofollow" 
					    class="country-link <%= store.country.short_name %>">
					      <div class="store">
					        <div class="store-above">
						        <div class="store-left">
						          <div class="store-name">
						            <h4><%= store.name %></h4>
						          </div>
						          <div class="description">
						            <%= store.description %>
						          </div>
						        </div>
					        </div>
					        <div class="store-bottom">
					        	<div class="left">#<%= store.category.name %></div>
					        	<div class="right">#<%= store.country.name %></div>
					        </div>
					      </div>
					    </a>
					    <br />
					    <br />
				    <% end %>
			    <% end %>
			<% else %>
				<h5>Wow, seems that we don't have a Store here.</h5>
				<h5> Try to search <a href="<%= url_for category_path %>">all categories</a> or help us improve the site and <a>add a store</a>.</h5>		
			<% end %>
	    </div>
	    <div class="large-4 medium-4 columns">
	    	<% if @category.item.size > 0 %>
		    	<h3>By country: </h3><br/>
		    	<a href="" 
		    		class="country-row all">
			    		<div class="country all">
			    			All (<%= @category.item.size %>)
			    		</div>
		    		</a>

		    	<% @countries.each do |country| %>
		    		<a href="#" 
		    		class="country-row <%= country.short_name %>">
			    		<div class="country <%= country.short_name %>">
			    			<%= country.name %> (<%= country.item.where("category_id = #{@category.id}").size %>)
			    		</div>
		    		</a>
		    	<% end %>
	    	<% end %>
	    </div>
	</div>
</div>

<script>
	$(document).ready(function(){

		// Changing the style of the first country ("all")
		// $(".country").first().css("background-color", "#ddd3d3");
		$(".country").first().addClass("active");

		// On click in a country
		$(".country-row").on("click", function(event){
			
			// Preventing default action of click
			event.preventDefault();

			// Cleaning all background-colors
			$('.country').removeClass("active");
			// css("background-color","#FFFFFF");

			// Hiding all countries
			$(".country-link").hide();

			// Getting the name of the selected country
			country = $(this).attr('class');
			country = country.split('country-row ')[1];
			nameOfCountry = $(".country-link." + country);

			// Verify if the selected item is "All" or any other countrie
			if(country == "all"){
				
				// Showing all countries
				$(".country-link").show();

				// Changing the style of "all"
				$(".country").first().addClass("active");

			}else{
				// Showing the selected country
				nameOfCountry.valueOf().show();

				// Changing the style of the selected country
				nameOfCountry.addClass("active");
			}	
		});
	});
</script>