<div class="panel" id="cinza">
  <div class="row">
  	<h4><a href="<%= url_for :controller => 'categories', :action => 'index' %>"><< All categories</a></h4><br>
    <div class="large-8 medium-8 columns">
	    <h3><%= @category.name %></h3><br>
	    
	    <% @category.item.each do |store| %>
		    <% if store.isActive == 1 %>
			    <a href="<%= url_for store.url_shortned %>" target="_blank" rel="nofollow">
			      <div class="store">
			        
			        <div class="store-above">
				        <div class="store-left">
				          <div class="store-name">
				            <h4><%= store.name %></h4>
				          </div>
				          <div class="description">
				            <%= store.description %>
				          </div>
				        </div>
			        </div>
			        <div class="store-bottom">
			        	<div class="left">#<%= store.category.name %></div>
			        	<div class="right">#<%= store.country.name %></div>
			        </div>
			      </div>
			    </a>
		    <% end %>
	    <% end %>
    </div>
    <div class="large-4 medium-4 columns">
    	<h3>By country: </h3><br/>
    	<% @countries.each do |country| %>
    		<a href="<%= url_for countries_path + country %>">
	    		<div class="country">
	    			<%= country.name %>
	    		</div>
    		</a>
    	<% end %>
    </div>
</div>
</div>
