<!DOCTYPE html>
<html>
	<head>
	  <title>BTC-Stores - Buy with Bitcoins</title>
	  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
	  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	  <%= csrf_meta_tags %>
	  <meta charset="utf-8" />
	  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
	</head>
	
	<body>

		<!-- Will render only if is not in "static page" -->
		<%= render :partial => "layouts/header" unless @render_header %> 

		<%= yield %>

		<%= render :partial => "layouts/footer" unless @render_header %>

		<script>
		  $(document).foundation();
		</script>

	</body>
</html>
